//- layout.pug
doctype html
html
  head
    title Krishna Dance Academy
    meta(name="viewport" content="width=device-width")/
    
    block scripts
    block style
      
  body
    nav#navbar 
        
        ul  
            div#logo 
                img(src="/static/img/logo.jpg" ,alt="logo Image",class="logoImage" )
                span#log KDA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/classinfo") ClassInfo]
            li #[a(href="/contact") Contact]
    block content
    footer#footer 
      h5 Copyright © 2022 KrishnaDanceAcademy.com | All rights reserved.
      
