extends base.pug

block scripts
  script(src='/static/ind.js')

block style
  style
      include ../static/style.css
      include ../static/style_classinfo.css


block content
    h1 KDA Class Info 
    div#divison 
        h4 WEEKDAY BATCHES (MON, WED & FRI (3 CLASSES PER WEEK SO 12 CONTINUOUS CLASSES IN A MONTH)):
        ul
            li#lo Monthly – Rs.3500
            li#lo Quarterly – Rs.9300 instead of Rs.10500 (saving of Rs.1200)
            li#lo WEEKEND BATCHES (SAT & SUN (2 CLASSES PER WEEK SO 8 CONTINUOUS CLASSES IN A MONTH)):
            li#lo Monthly – Rs.3000
            li#lo Quarterly – Rs.7800 instead of Rs.9000 (saving of Rs.1200)
        br
        h4 TRIAL CLASSES
        ul
            li#lo 1 trial class of 1-hour duration: Rs.300 per person (paid before the class begins);
            li#lo FREE if the student joins (Please pre-book).
            li#lo Please note: The trial class is FREE only if the student decides to join. If the student joins, the Rs 300 paid will be adjusted with the first month fee, and the billing cycle will start from the next class, making the first trial class 100% free. If the student decides not to join Delhi Dance Academy, then the Rs 300 will not be refunded.
        br
        h4 DROP-IN CLASSES:
        ul
            li#lo 1-hour drop-in class during an existing batch: Rs.500 per person (Please pre-book).
        br
        h4 DISCOUNTS:
        ul
            li#lo If 2 people join together for a month, avail a discount of flat Rs 500 off on a total of 2 people joining together!:)
            li#lo If a group of 3-5 people joins together for a month, avail a discount of flat Rs 1000/- off on the total package of 3-5 people joining together!!:)
            li#lo If a group of 6-8 people joins together for a month, avail a discount of flat Rs 2000/- off on the total package of 6-8 people joining together! 🙂
            li#lo GETTING YOUR FRIENDS IS, THEREFORE, A GOOD IDEA!
        br
        h4 *Note: (phone booking required).
        ul
            li#lo All Delhi and NCR areas covered (GST charges 18% will be applicable on total cost with the proper invoice being shared for the work).
            li#lo STUDIO HIRE FEE Details of our studios (sizes and facilities) and the fee are available on the following page: Studio Hire Delhi.
            li#lo CANCELLATIONS AND REFUNDS:
            li#lo Please note: Fee once paid is non-refundable and non-adjustable.
            li#lo We would do our best to adjust the fee in other dance form batches if for some reason you can’t attend/ don’t like one batch, but the fee will NOT be refunded.
            li#lo There is no adjustment of classes/back up classes in case you miss out a class.
            li#lo For more information, please contact us.