extends base.pug

block scripts
  script(src='/static/ind.js')

block style
  style
      include ../static/style.css
      include ../static/style_services.css


block content
    h1 KDA Services 
    h2 At Krishna Dance Academy, we teach the following forms of dance and fitness workouts.
    div#list
        ul#serv
            li  #[ Aerobics Workout]
            li  #[ Bollywood Dance]
            li  #[ B Boying and Breaking]
            li  #[ Carbon Plus – Professional Dance Training in Delhi]
            li  #[ Belly Dancing]
            li  #[ Contemporary Dance]
            li  #[ Gymnastics]
            li  #[ Dance Classes for Children]
            li  #[ Hip Hop Dance]
            li  #[ Jazz Classes in Delhi]
            li  #[ Power Yoga Workout]
            li  #[ Self Defense Classes]
            li  #[ Salsa Dance]
            li  #[ Tap Dance]
            li  #[ Zumba Workout]