#list {
    text-align: center;
    margin-top: 36px;
    font-size: 20px;
    font-family: cursive;
    margin-bottom: 14px;
}

h2 {
    font-family: cursive;
    text-align: center;
    padding-top: 12px;
    margin-top: 16px;
    margin-bottom: -36px;
    font-weight: unset;
}

h1 {
    text-align: center;
    margin-top: 20px;
    padding-left: 4rem;
    margin-bottom: -20px;
    width: 75rem;
    font-size: 3rem;
}

@media only screen and (min-width: 150px) and (max-width:768px) {
    #serv {
        width: 81rem;
        font-size: 6rem;
        list-style: none;
    }
    h2 {
        font-size: 6rem;
        width: 87rem;
        margin-bottom: 4rem;
        margin-top: 5rem;
        padding-left: 2rem;
    }
    h1 {
        width: 88rem;
        padding-top: 3rem;
        margin-bottom: -3rem;
        font-size: 9rem;
    }
    #list {
        padding-left: 4rem;
        padding-bottom: 3rem;
    }
    #footer {
        margin-top: 6rem;
    }
}