p {
    padding: 21px;
    text-align: justify;
    font-size: 21px;
}

h1 {
    text-align: center;
    margin-top: 14px;
    margin-bottom: -12px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 19rem;
}

@media only screen and (min-width: 150px) and (max-width:768px) {
    h1 {
        font-size: 7rem;
        width: 36rem;
        margin-left: 26rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .img {
        display: block;
        height: 70rem;
        width: 85rem;
        padding-left: 5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    span#log {
        width: 5px;
        font-size: 2rem;
        position: absolute;
        padding-top: 18rem;
        margin-left: 1rem;
    }
    p {
        font-size: 5rem;
        width: 86rem;
        padding-left: 4rem;
    }
}