    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    * {
        margin: 0px;
        box-sizing: border-box;
        padding: 0px;
    }
    
    .logoImage {
        height: 24px;
        display: flex;
    }
    
    #logo {
        color: white;
        font-size: 11px;
        font-weight: bold;
    }
    
    #navbar {
        background-color: black;
        padding: 15px 5px;
        font-family: 'Playfair Display', serif;
    }
    
    #navbar ul {
        display: flex;
        flex-direction: row;
        margin-bottom: -14px;
        padding-left: 8px;
    }
    
    #navbar li {
        list-style: none;
    }
    
    #navbar li a {
        text-decoration: none;
        padding: 4px 29px;
        color: white;
        font-weight: bold;
    }
    
    #navbar li a :hover {
        color: black;
    }
    
    #introSection {
        height: 300px;
        background-color: red;
        background: center /cover no-repeat url("/static/bg.jpg");
        background-size: 1440px 311px;
        color: white;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        padding-right: 587px;
        padding-bottom: 35px;
    }
    
    #introSection div.small {
        font-size: 27px;
    }
    
    #missionSection {
        margin: auto;
        padding-top: 10px;
        margin: -18px;
    }
    
    h2 {
        text-align: center;
        padding-top: 12px;
        margin-bottom: -28px;
    }
    
    .card {
        display: inline-block;
        border: 2px solid black;
        border-radius: 10px;
        width: 325px;
        margin: 47px 50px;
        height: 145px;
        padding-top: 6px;
        text-align: center;
    }
    
    #l1 {
        float: right;
        padding-left: 39px;
        padding-right: 48px;
        padding-top: 37px;
    }
    
    #l2 {
        /* width: auto;
    float: inline-end;
    margin-top: -86px;
    margin-left: 116px; */
        position: absolute;
        text-align: revert;
        width: 100px;
        margin-left: -13%;
        padding-top: 16px;
    }
    
    #l3 {
        float: right;
        padding-left: 109px;
        padding-top: 48px;
        margin-top: -129px;
    }
    
    #sponsorsSection {
        height: 266px;
        background-color: #010101cc;
        padding-top: 26px;
    }
    
    #sponsor {
        margin: auto;
        padding: 5px;
        height: 5px;
        text-align: center;
    }
    
    .logo1 {
        height: 109px;
        display: inline;
        filter: brightness(3);
    }
    
    .logo2 {
        height: 109px;
        display: inline;
        filter: brightness(1);
        padding-right: 201px;
    }
    
    .logo3 {
        height: 109px;
        display: inline;
        filter: brightness(3);
        padding-right: 205px;
    }
    
    .spImage {
        /* padding: 5x;
    height: 5px;
    height: 182px;
    filter: contrast(2);
    margin-top: 23px; */
        padding: 5x;
        height: 5px;
        height: 182px;
        filter: contrast(2);
        margin-top: 23px;
        margin-left: auto;
        margin-right: auto;
        width: 23%;
    }
    
    #footer {
        height: 56px;
        background-color: black;
    }
    
    h5 {
        color: white;
        text-align: center;
        padding: 19px;
    }
    
    #spon {
        text-align: center;
        margin-top: -27px;
        color: white;
        position: absolute;
        margin-left: 45%;
    }
    
    @media only screen and (max-width:768px) {
        #introSection div.small {
            font-size: 27px;
            padding-left: 364px;
            width: 587px;
            padding-top: 26px;
            text-align: center;
            font-variant: petite-caps;
        }
        .big {
            font-size: 40px;
            /* justify-content: center; */
            text-align: center;
            margin-left: 340px;
            width: 449px;
        }
        #navbar ul {
            display: flex;
            flex-direction: row;
            margin-bottom: -14px;
            justify-content: center;
            font-size: 21px;
        }
        h2#mission {
            text-align: center;
            margin-bottom: 29px;
            margin-top: 6px;
        }
        .card {
            border: 2px solid black;
            border-radius: 10px;
            margin: 47px 50px;
            height: 145px;
            padding-top: 4px;
            text-align: center;
            padding-bottom: -74px;
            margin-top: -17px;
            width: 702px;
        }
    }
    
    @media only screen and (min-width: 150px) and (max-width:768px) {
        #navbar li {
            list-style: none;
            border: 7px;
            padding: -3px;
            direction: flex;
            width: 11rem;
            text-align: right;
            justify-content: right;
            margin-left: 19rem;
            font-size: 31px;
        }
        .big {
            font-size: 130px;
            text-align: center;
            margin-left: 35rem;
            width: 92rem;
            margin-top: 90rem;
            font-variant: all-small-caps;
        }
        #navbar {
            background-color: black;
            padding: 13px 84px;
            font-family: 'Playfair Display', serif;
            width: 89rem;
            height: 15rem;
        }
        .card {
            width: 83rem;
            height: 23rem;
            margin-bottom: 85px;
            margin-left: 4rem;
            border: 6px solid black;
        }
        #l1 {
            font-size: 21px;
            position: absolute;
            width: 55rem;
            margin-left: -65rem;
            font-size: 72px;
            margin-top: 1rem;
        }
        h2#mission {
            margin-bottom: 29px;
            margin-top: 6px;
            font-size: 7rem;
            margin-left: 29rem;
            width: 34rem;
        }
        #introSection {
            height: 66rem;
            width: 89rem;
            background: center /cover no-repeat url(/static/bg2.jpg);
            color: white;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            font-size: 40px;
            padding-right: 587px;
            padding-bottom: 35px;
            margin-top: 0rem;
            height: 113rem;
        }
        #navbar ul {
            display: flex;
            flex-direction: row;
            margin-bottom: -14px;
            justify-content: center;
            font-size: 40px;
            width: 81rem;
            border: 8px solid gold;
            margin-left: -1rem;
            padding-right: 2rem;
            padding-left: 1rem;
            padding-top: 4rem;
        }
        #navbar li {
            list-style: none;
            border: 7px;
            padding: -3px;
            direction: flex;
            width: 11rem;
            text-align: right;
            justify-content: right;
            margin-left: 19rem;
            font-size: 31px;
            margin-left: 4rem;
            font-size: 3rem;
            margin-top: 0rem;
        }
        .logoImage {
            margin-left: -4rem;
            display: flex;
            width: 6rem;
            height: 7rem;
            position: absolute;
            margin-top: -2rem;
        }
        span#log {
            width: 5px;
            font-size: 2rem;
            position: absolute;
            padding-top: 4rem;
            margin-left: -3rem;
        }
        #introSection div.small {
            font-size: 56px;
            padding-left: 35rem;
            width: 62rem;
        }
        h3 {
            font-size: 86px;
            font-family: system-ui;
        }
        .logo1 {
            padding-right: 68rem;
            height: 234px;
        }
        #l2 {
            font-size: 66px;
            Width: 59rem;
            margin-left: -20rem;
        }
        .logo2 {
            height: 15rem;
            margin-left: -37rem;
            position: absolute;
            margin-top: 0rem;
        }
        .logo3 {
            height: 15rem;
            margin-left: -46rem;
            margin-top: -41px;
        }
        #l3 {
            font-size: 67px;
            width: 63rem;
            padding-top: 27px;
            margin-top: 0rem;
            position: absolute;
            margin-left: -17rem;
        }
        #sp1 {
            margin-top: 253px;
        }
        .spImage {
            width: 91%;
        }
        .spImage {
            width: 91%;
            margin-bottom: 4rem;
            height: 20rem;
        }
        #sponsorsSection {
            height: 118rem;
            width: 89rem;
        }
        #spon {
            font-size: 7rem;
            margin-left: 32rem;
            width: 25rem;
            margin-top: -40px;
        }
        #footer {
            height: 140px;
            width: 89rem;
            padding-top: 5rem;
        }
        h5 {
            font-size: 46px;
        }
        h5 {
            font-size: 46px;
            margin-top: -4rem;
        }
        #navbar li a {
            text-decoration: none;
            padding: 4px 0px;
            color: white;
            font-weight: bold;
            font-family: cursive;
            font-size: 3rem;
        }
    }